@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.root-layout {
  height: 100%;
}
.main-content {
  padding: 16px;
}

.module-wrapper {
  margin-bottom: 16px;
}

.ant-layout-header {
  background: 0;
  border-bottom: solid #999999;
  height: auto;
  line-height: inherit;
  padding: 0 16px;
}

.ant-layout-sider {
  display: flex;
  flex-direction: column;
}

.ant-layout-sider-trigger {
  position: inherit;
  width: auto;
}
