@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.root-layout {
  height: 100%;
}

.ant-layout-header {
  background: 0;
  border-bottom: solid #999999;
  height: auto;
}

.ant-layout-sider {
  display: flex;
  flex-direction: column;
}

.ant-layout-sider-trigger {
  position: inherit;
  width: auto;
}

.menu-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
